//FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//COLORS
$grey: #919191;
$purple: #5400ff;
$dark-purple:#4100d0;

//PLACEHOLDERS
%pills{
  border-radius: 9999999999px;
}


//IMPORTS
@import "components/inputs.scss";
