//FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//COLORS
$grey: #919191;
$light-grey: #ededed;
$purple: #5400ff;
$light-blue : #00e4ff;
$light-purple: #8000ff;
$dark-purple:#4100d0;

//PLACEHOLDERS
%pills{
  border-radius: 9999999999px;
}


//IMPORTS
@import "components/inputs.scss";
