$nav-width: 260px;
$nav-fs: 24px;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
.chart-wrapper {
  width: 100%;
  .home-chart{
    min-width: 300px;
    background: white;
    border-radius: 7px;
    box-shadow: $box-shadow;
    @media (max-width: $screen-max-sm) {
      min-width: 100%;
      width: 100%;
    }
  }
  .radar-chart {
    max-width: 70%;
    padding: 15px;
    display: block;
    margin: 40px auto;
    @media (max-width: $screen-max-lg) {
       margin : 20px auto;
      }

  }
  .pie-chart-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 0;
    @media (max-width: $screen-max-lg) {
      gap: 10px;
      padding: 20px 0;
    }
    @media (max-width: $screen-max-sm) {
      gap: 50px;
    }
    .pie-chart {
      width: calc(100% / 3 - 20px);
      &-header {
        height: 100px;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        h2 {
          font-size: 24px;
          margin-bottom: 10px;
          color: black;
          font-weight: bold;
          @media (max-width: $screen-max-lg) {
            font-size: 16px;
          }
        }
        p {
          font-size: 16px;
          color: black;
          @media (max-width: $screen-max-lg) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.section-header {
  margin: auto;
  font-size: 28px;
  padding: 10px;
  color: black;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 900;
  @media (max-width: $screen-max-lg) {
    font-size: 20px;
  }
  @media (max-width: $screen-max-xs){
    font-size: 15px;
  }
}
