.single-question {
  padding: 30px;
  background: rgb(140, 83, 255);
  background: linear-gradient(0deg, rgba(140, 83, 255, 1) 0%, rgba(84, 0, 255, 1) 100%);
  border-radius: 7px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  opacity: 1;
  height: 275px;
  max-height: 275px;
  color: white;

  //MEDIA
  @media (max-width: $screen-max-sm){
    border-radius: 0;
    padding: 30px 15px;
    height: 285px;
    max-height: 285px;
  }
  &.response{
    transition: none;
  }
  .response-display {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    font-weight: bolder;
    font-style: italic;
  }

  &.active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &.hidden {
    transform: translateX(100vw) rotate(90deg);
    opacity: 0;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }


  //Question content
  &__content {
    .input-wrapper {
      .char-left {
        font-size: 12px;
      }

      input {
        margin-bottom: 10px;
      }
    }

    //Question title
    .title {
      font-size: 25px;
      margin-bottom: 20px;
    }

    //Question body
    .body {
      display:inline-block;
      margin-bottom: 10px;
    }
  }

  //Question footer
  &__footer {
    position: absolute;
    bottom: 30px;
    right: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    @media (max-width: $screen-max-sm){
      height: auto;
      right: 15px;
      left: 15px;
      bottom: 15px;
      flex-direction: column;
      .message{
        margin-bottom: 15px;
      }
    }
    .message {
      opacity: .8;
      font-size: 12px;
    }

  }

  //Question actions
  &__actions {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);


    @media (max-width: $screen-max-sm){
      position: initial;
      right: initial;
      top: initial;
      transform: initial;
    }

    .action-cta {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
