$nav-width: 260px;
$nav-fs: 24px;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
.layout {
  background: $light-grey;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width : 100%;

  .main {
    max-width: calc(100% - $nav-width);
    height: 100%;
    padding: 50px;
    h1 {
      font-size: 40px;
      margin: 40px auto;
    }
  }
}
